# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
bitcoin_blockchain = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                              dataset_name="bitcoin_blockchain")

Then write the code to answer the questions below.

#### Note
This dataset is bigger than the ones we've used previously, so your queries will be more than 1 Gigabyte. You can still run them by setting the "max_gb_scanned" argument in the `query_to_pandas_safe()` function to be large enough to run your query, or by using the `query_to_pandas()` function instead.

## Questions
#### 1) How many Bitcoin transactions were made each day in 2017?
* You can use the "timestamp" column from the "transactions" table to answer this question. You can check the [notebook from Day 3](https://www.kaggle.com/rtatman/sql-scavenger-hunt-day-3/) for more information on timestamps.

In [2]:
# Your Code Here
query = """ WITH time AS 
            (
                SELECT TIMESTAMP_MILLIS(timestamp) AS trans_time,
                    transaction_id
                FROM `bigquery-public-data.bitcoin_blockchain.transactions`
            )
            SELECT COUNT(transaction_id) AS transactions,
                EXTRACT(DAYOFYEAR FROM trans_time) AS day_of_year
            FROM time
            WHERE EXTRACT(YEAR FROM trans_time) = 2017
            GROUP BY day_of_year
            ORDER BY day_of_year
        """
transactions_per_day_2017 = bitcoin_blockchain.query_to_pandas(query)
print(transactions_per_day_2017)

     transactions  day_of_year
0          180502            1
1          290951            2
2          301664            3
3          328642            4
4          288501            5
5          346405            6
6          282060            7
7          260101            8
8          269947            9
9          323888           10
10         303058           11
11         295125           12
12         272747           13
13         242269           14
14         235999           15
15         267640           16
16         292697           17
17         297100           18
18         300605           19
19         298377           20
20         263562           21
21         236886           22
22         235530           23
23         278177           24
24         304727           25
25         313755           26
26         263332           27
27         246395           28
28         241627           29
29         247408           30
..            ...          ...
335        326354          336
336        353044          337
337        400686          338
338        405709          339
339        443587          340
340        374917          341
341        385092          342
342        403399          343
343        341420          344
344        368598          345
345        372977          346
346        424579          347
347        490644          348
348        405676          349
349        364222          350
350        391910          351
351        394239          352
352        378622          353
353        370277          354
354        335482          355
355        380648          356
356        308211          357
357        279523          358
358        228926          359
359        247440          360
360        307642          361
361        305053          362
362        353824          363
363        344407          364
364        290422          365

[365 rows x 2 columns]


#### 2) How many transactions are associated with each merkle root?
* You can use the "merkle_root" and "transaction_id" columns in the "transactions" table to answer this question.

In [3]:
# Your Code Here
query = """ SELECT merkle_root AS merkle,
                COUNT(transaction_id) AS transactions
            FROM `bigquery-public-data.bitcoin_blockchain.transactions`
            GROUP BY merkle            
"""
transactions_merkle = bitcoin_blockchain.query_to_pandas(query)
print(transactions_merkle)

       ...
0      ...
1      ...
2      ...
3      ...
4      ...
5      ...
6      ...
7      ...
8      ...
9      ...
10     ...
11     ...
12     ...
13     ...
14     ...
15     ...
16     ...
17     ...
18     ...
19     ...
20     ...
21     ...
22     ...
23     ...
24     ...
25     ...
26     ...
27     ...
28     ...
29     ...
...    ...
530728 ...
530729 ...
530730 ...
530731 ...
530732 ...
530733 ...
530734 ...
530735 ...
530736 ...
530737 ...
530738 ...
530739 ...
530740 ...
530741 ...
530742 ...
530743 ...
530744 ...
530745 ...
530746 ...
530747 ...
530748 ...
530749 ...
530750 ...
530751 ...
530752 ...
530753 ...
530754 ...
530755 ...
530756 ...
530757 ...

[530758 rows x 2 columns]

---
# Keep Going
[Click here](https://www.kaggle.com/dansbecker/joins) to learn how to combine multiple data sources with the JOIN command.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*