# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
hacker_news = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="hacker_news")

# print the first couple rows of the "comments" table
hacker_news.head("comments")

         id  by author        time   ...      parent deleted  dead ranking
0   2701393  5l     5l  1309184881   ...     2701243    None  None       0
1   5811403  99     99  1370234048   ...     5804452    None  None       0
2     21623  AF     AF  1178992400   ...       21611    None  None       0
3  10159727  EA     EA  1441206574   ...    10159396    None  None       0
4   2988424  Iv     Iv  1315853580   ...     2988179    None  None       0

[5 rows x 10 columns]

# Question
Using the Hacker News dataset in BigQuery, answer the following questions:

#### 1) How many stories (use the "id" column) are there of each type (in the "type" column) in the full table?

In [2]:
# Your Code Here
query = """ SELECT type, COUNT(id)
            FROM `bigquery-public-data.hacker_news.full`
            GROUP BY type
"""
stories_of_each_type = hacker_news.query_to_pandas_safe(query)
stories_of_each_type.head()

      type       f0_
0  comment  14136753
1    story   2947287
2  pollopt     11909
3      job     10620
4     poll      1738

#### 2) How many comments have been deleted? (If a comment was deleted the "deleted" column in the comments table will have the value "True".)

In [3]:
# Your Code Here
query = """ SELECT deleted, COUNT(id)
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY deleted
"""
num_deleted_comments = hacker_news.query_to_pandas_safe(query)
num_deleted_comments.head()

  deleted      f0_
0    True   227736
1    None  8171681

#### 3) Modify one of the queries you wrote above to use a different aggregate function.
You can read about aggregate functions other than COUNT() **[in these docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#aggregate-functions)**

In [4]:
# Your Code Here
query = """ SELECT type, MAX(time)
            FROM `bigquery-public-data.hacker_news.full`
            GROUP BY type
"""
latest_time_of_each_type = hacker_news.query_to_pandas_safe(query)
latest_time_of_each_type.head()

      type         f0_
0  pollopt  1526501753
1     poll  1526501753
2      job  1526766226
3  comment  1526768600
4    story  1526768607

---

# Keep Going
[Click here](https://www.kaggle.com/dansbecker/order-by) to move on and learn about the ORDER BY clause.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This exercise is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*